@import "frontpage.scss";
@import "frontpage-map.scss";

#root, #content-wrapper { height: 100%; }
#content-container { margin-top: 50px; }
#front-page-container { margin-top: -50px; }

.row {
  max-width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-nav li a { cursor: pointer; }
#darknav.navbar-default .navbar-nav > li > a.active { background: transparent; color: #6C7A89; }
